# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
postgresqldemo-aspnet-core/src/postgresqlDemo.Web.Host/App_Data/Logs/
postgresqldemo-aspnet-core/src/postgresqlDemo.Web.Mvc/App_Data/Logs/
postgresqldemo-aspnet-core/src/postgresqlDemo.Migrator/Logs/Logs.txt
