# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
mysqlmigrationdemo-aspnet-core/src/MysqlMigrationDemo.Web.Host/App_Data/Logs/
mysqlmigrationdemo-aspnet-core/src/MysqlMigrationDemo.Web.Mvc/App_Data/Logs/
mysqlmigrationdemo-aspnet-core/src/MysqlMigrationDemo.Migrator/Logs/Logs.txt
